.actions-wrapper {
    justify-content: flex-end;

    button {
        width: 12rem;
        align-items: center;
        padding: 13px 20px;
        background-color: var(--brand-dark);
        border-radius: .5rem;
        font: var(--tipo-text-md);
        font-weight: 600;
        color: var(--text-heading);
        border: none;
        gap: 12px;

        & img {
            width: 1.25rem;
            aspect-ratio: 1/1;
        }

        &:hover {
            background-color: var(--brand-mid);
        }
    }
}