
.radio-wrapper {
    border: 1px solid var(--input-stroke);
    padding: .25rem;
    background-color: var(--input-base);

    & .radio-inner {
        padding: .65rem;
        gap: .5rem;
        width: 130px;
        position: relative;

        & input,
        & input:hover,
        & input:focus {
            all: unset;
            position: absolute;
            inset: 0;
        }

        & .img-presencial {
            background-image: url(../../Assets/icons/building-2-default.svg);
            background-repeat: no-repeat;
            width: 1rem;
        }

        & .img-online {
            background-image: url(../../Assets/icons/video-default.svg);
            background-repeat: no-repeat;
            width: 1rem;
        }

        & input[type="radio"] + label {
            margin-bottom: 0;
        }

        &:has(:checked) {
            background-color: var(--shape-hover);
            border-radius: .5rem;

            & .img-presencial {
                background-image: url(../../Assets/icons/building-2-checked.svg);
            }

            & .img-online {
                background-image: url(../../Assets/icons/video-checked.svg);
            }

            & label {
                font-weight: 600;
            }
        }
    }


}

.color {

    & > div {
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
        border: none;
        background-color: transparent;

        & .color-circle {


            & input {
                padding: 0;
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 999px;
                border: 3.5px solid var(--shape-button);
                outline: 3.5px solid transparent;

                &[value="brand-light"] {
                    background-color: var(--brand-light);
                }

                &[value="navy"] {
                    background-color: var(--accent-navy);
                }

                &[value="purple"] {
                    background-color: var(--accent-purple);
                }

                &[value="fuschia"] {
                    background-color: var(--accent-fuschia);
                }

                &[value="pink"] {
                    background-color: var(--accent-pink);
                }

                &[value="danger"] {
                    background-color: var(--feedback-danger);
                }

                &[value="orange"] {
                    background-color: var(--accent-orange);
                }
                &[value="yellow"] {
                    background-color: var(--accent-yellow);
                }
                &[value="lime"] {
                    background-color: var(--accent-lime);
                }
                &[value="green"] {
                    background-color: var(--accent-green);
                }
                &[value="cyan"] {
                    background-color: var(--accent-cyan);
                }

                &:hover, &:focus, &:focus-within {
                    border: 3.5px solid var(--shape-hover);
                }
            }



            & input:checked {
                outline: 3.5px solid var(--brand-light);
            }
        }
    }

    

}

.event {
    padding-block: 1.75rem;

    & .radio-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(8.37rem, 1fr));
        gap: .5rem;
        border: none;
        background-color: transparent;
        padding: 0;

        & .radio-event {
            display: grid;
            gap: .5rem;
            justify-items: center;
            border: 2px solid var(--shape-button);
            background-color: var(--shape-button);
            border-radius: .5rem;
            padding: .2rem .2rem .5rem .2rem;
            position: relative;

            & img {
                border-radius: .2rem;
            }

            & input {
                height: 100%;
                background: transparent;
                position: absolute;

                &:focus, &:focus-within {
                    border: none;
                }

                &:checked {
                    outline: 2px solid var(--brand-light);
                }
            }

            & label {
                margin-bottom: 0;
                color: var(--text-heading);
            }
            &:hover, &:focus-within {
                background-color: var(--shape-hover);
                border-color: transparent;
            }
            

        }
    }
}


